@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i&subset=latin-ext');

body {
    font: 400 16px/1.5 Merriweather;
}

#topmatter {
    padding-left: auto;
    padding-right: auto;
    padding-top: 5%;
    display: block;
}

#topmatter, main {
    max-width: 40em;
    margin: auto;
}

#logo {
    font: 900 16px/1.5 Merriweather;
    font-variant: small-caps;
    text-align: left;
    font-size: 150%;
}

a {
    color: #008888;
    text-decoration: none;
}

nav {
    font: 700 16px/1.5 Merriweather;
    padding: 1ch 0ch;
}
